body{
    
    font-family: Quicksand; /* Гарнитура шрифта */ 
    font-size: 100%; /* Размер текста */ 
    font-weight: lighter; /* Светлое начертание */ 
      
}
.bg{
    border: 1px solid black;
    background-image: url(../images/bg/bg.png);
    background-color: antiquewhite;
    z-index: 1;
    height: 780px;
    width: 1280px;   margin-left: 200px;
    /*align: center;*/
}
.home{                      /*Все названия относятся к home(До следующего слоя)*/
    z-index: 2;
    
}
.homeDiv{
    border: 2px solid beige;
}
.leftDiv{
    z-index: 2;
    float: left;
    /*border: 2px solid beige;*/
    background-image: url(../images/home/Livello.png);
    height: 40px;
    width: 53px;
    margin-top:20px;
    margin-left: 30px;
}
.rightDiv{
    z-index: 2;
    float: right;
    background-image: url(../images/home/shoppingcart.png);
   /* border: 2px solid blue;*/
    height: 20px;
    width: 24px;
    margin-right: 50px;
    margin-top: 43px;
}
.twoRightDiv{
    z-index: 2;
    float: right;
    background-image: url(../images/home/Products.png);
   /* border: 2px solid blue;*/
    height: 13px;
    width: 77px;
    margin-right: 75px;
    margin-top: 50px;
}
.thirdRightDiv{
    z-index: 2;
    float: right;
    background-image: url(../images/home/Home1.png);
   /* border: 2px solid blue;*/
    height: 13px;
    width: 50px;
    margin-right: 75px;
    margin-top: 49px;
}
.firstCenterDiv{
    z-index: 2;

    background-image: url(../images/home/OurClosing.png);
   /* border: 2px solid blue;*/
    height: 54px;
    width: 798px;
    margin-left: 240px;
    margin-top: 300px;
}.secondCenterDiv{
    z-index: 2;

    background-image: url(../images/home/Loremipsum.png);
   /* border: 2px solid blue;*/
    height: 67px;
    width: 586px;
    margin-left: 350px;
    margin-top: 10px;
}
.footCenterDiv{
    z-index: 3;

    background-image: url(../images/home/chevronDown.png);
   /* border: 2px solid blue;*/
    height: 22px;
    width: 34px;
    margin-left: 615px;
    margin-top: 290px;
}

.second{/*Второй слой*/
    z-index: 3;

    background-image: url(../images/second/Rettangolo.png);
   /* border: 2px solid blue;*/
    height: 143px;
    width: 1280px;
    margin-left:200px;
    
}
.navibar{
    z-index: 3;

    
   /* border: 2px solid blue;*/
    height: 143px;
    width: 1280px;
    /*margin-left:200px;*/
    
}
.checkBox{
    color: #aa9b77;
    float: left;
    margin-left: 150px;
    margin-top:85px;
}
.checkBoxLB{
    color: #aa9b77;
    float: left;
    margin-top:82px;
    cursor: pointer;
}

#menCB #womenCB #childrenCB{
    color: #aa9b77; 
    float: left;
    
}
#menCB:hover {
    cursor: pointer;
}
#womenCB:hover{
    cursor: pointer;
}
#childrenCB:hover{
    cursor: pointer;
}
.seeALL{
    float: right;
    margin-right: 70px;
    margin-top: 60px;
    text-decoration: none;
    padding: 20px;
    background: #aa9b77;
    color:#ffffff;
}
.third{/*Третий слой*/

}
.menTable{
    color:#aa9b77;
    width: 100%;
    margin-left: 200px;
}
.tableHeader{
    float:center;
    margin-left: 200px;
}
.divThirdBody{
    margin: 20px;
    
    color: #aa9b77;
    
}
#menBodyText{
    /* margin-top:50px; */
    float: left;
}
#divThr:hover{
    border: 2px solid #aa9b77;
}
#divSecond:hover{
    border: 2px solid #aa9b77;
}#divFirst:hover{
    border: 2px solid #aa9b77;
}
#divThr{
    height: 378px;
    width: 320px;
    margin-right: 230px;

    background-color: #f5f6f7;
    float: left;
    margin-top: 70px;
    /* background-image: url(../images/third/backpackI.png); */
    
}
#divSecond{
    height: 378px;
    width: 320px;
    margin-right: 100px;
    margin-top: 70px;
    background-color: #f5f6f7;
    float: left;
    
}
#divFirst{
    height: 378px;
    width: 320px;
    margin-right: 100px;
    margin-top: 70px;
    background-color: #f5f6f7;
    float: left;
    background-image: url();

    
}
#thirdDivThirdPict{/*Третья и вторая картинка*/
    margin-left: 50px;
    margin-top: 50px; 
   
}
#thirdDivBP{
    z-index: 5;

    margin-bottom: 0px;
    margin-top: 58px;
    float: left;
    /* margin-right: 230px; */

    
}
#thirdDivPrice{
    color:#424242;
    /* margin-top: 0px; */
    /* margin-left: 280px; */
    /* margin-bottom:60px; */
    float: right;
    z-index: 5;
    margin-top: 58px;
}
#thirdDivVolume{
    /* margin-bottom:10px;   */
    margin-left: 10px;
    z-index: 5;
    float: left;
    color:#424242;
}
#secondDivPan{
    z-index: 5;
   /* margin-right: 230px;
    margin-bottom: 0px;
    margin-top: 30px; */
    
    margin-left: 10px;
    float: left;
    margin-top: 37px;
}
#secondDivPrice{
    color:#424242;
    margin-right: 10px;
   /* margin-left: 280px;
    margin-bottom:60px; */
    float: right;
    z-index: 5;

    margin-top: 37px;
}
#secondDivSize{
    /* margin-bottom:10px;   */
    margin-left: 10px;
    z-index: 5;
    float: left;
    color:#424242;
}


/*Первая картинка третьего блока*/
#firstDivTS{
    z-index: 5;
   /* margin-right: 230px;
    margin-bottom: 0px;
    margin-top: 30px; */
    
    margin-left: 10px;
    float: left;
    margin-top: 60px;
}
#firstDivPrice{
    color:#424242;
    margin-right: 10px;
   /* margin-left: 280px;
    margin-bottom:60px; */
    float: right;
    z-index: 5;
    margin-top: 60px;
}
#firstDivSize{
    /* margin-bottom:10px;   */
    margin-left: 10px;
    z-index: 5;
    float: left;
    color:#424242;
}
#circle {
    float: right;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-right: 5px;
}
.background1rdCircle{
    background:#165eb9;
}
.background2rdCircle{
    background:#ffe637;
}
.background3rdCircle{
    background:#535253;
    
}
#firstDivThirdPict{/*первая картинка*/
    margin-left: 50px;
    margin-top: 33px; 
   
}
/*Women block(4 слой)*/
.fourth{/*Четвертый слой*/

}
.divFourthBody{
    margin: 20px;
    
    color: #aa9b77;
    
}
.womenTable{

    width: 100%;
    margin-left: 200px;
}
/*****************************************/
#wo_DivSecondPict{/*Третья и вторая картинка*/

    margin-left: 35px;
    margin-top: 80px;
}
#wo_DivThirdPict{
    margin-top: 40px;
    margin-left:5px;
}
#wo_thirdDivTS{
    z-index: 5;
    margin-top:50px;
    margin-bottom: 0px;
    margin-left: 10px;
    /* margin-top: 30px; */
    float: left;
    /*  */

    
}
#wo_thirdDivPrice{
    color:#424242;
    /* margin-top: 0px; */
    /* margin-left: 280px; */
    /* margin-bottom:60px; */
    float: right;
    z-index: 5;
    margin-top:50px;
    margin-right: 10px;
}
#wo_thirdDivVolume{
    /* margin-bottom:10px;   */
    margin-left: 10px;
    z-index: 5;
    float: left;
    color:#424242;
}
#wo_secondDivPan{
    z-index: 5;
   /* margin-right: 230px;
    margin-bottom: 0px;*/
    margin-top: 100px; 
    
    margin-left: 10px;
    float: left;
    
}
#wo_secondDivPrice{
    color:#424242;
    margin-right: 10px;
    margin-top: 100px;
   /* margin-left: 280px;
    margin-bottom:60px; */
    float: right;
    z-index: 5;
}
#wo_secondDivSize{
    /* margin-bottom:10px;   */
    margin-left: 10px;
    z-index: 5;
    float: left;
    color:#424242;
}


/*Первая картинка третьего блока*/
#wo_firstDivTS{
    z-index: 5;
   /* margin-right: 230px;
    margin-bottom: 0px;
    margin-top: 30px; */
    
    margin-left: 10px;
    float: left;
    margin-top: 60px;
}
#wo_firstDivPrice{
    color:#424242;
    margin-right: 10px;
   /* margin-left: 280px;
    margin-bottom:60px; */
    float: right;
    z-index: 5;
    margin-top: 60px;
}
#wo_firstDivSize{
    /* margin-bottom:10px;   */
    margin-left: 10px;
    z-index: 5;
    float: left;
    color:#424242;
}
#wo_firstDivThirdPict{/*первая картинка*/
    margin-left: 0px;
    margin-top: 40px; 
   
}
.wo_background2rdCircle{
    background:#d3a7ac;
}
.wo_background1rdCircle{
    background:#ffffff;
}
#womenBodyText{
    margin-top: 500px;
}
/*Пятый Слой*/
.backgroundFifthy{
    height: 402px;
    width: 1280px;
    margin-left: 200px;
    margin-top: 70px;
    background-color: #aa9b77;
    float: left;
 

    
}
/*.aboutText{
    color:#424242;
    margin-left: 0px;
    font-size: 120%;
    margin-top:0px; 
    z-index: 10;
}*/
.aboutUsDiv{
    /* color:#837659; */
    margin-left: 300px;
    font-size: 150%;
    margin-top:50px; 
}
/*Шестой слой*/
.backgroundFooter{
    height: 72px;
    width: 1280px;
    margin-left: 200px;
    /* margin-top: 70px; */
    background-color: #535253;
    float: left;/*424242*/
}
#Ecom{
    margin-left:15px;
    margin-top: 20px; 
    color:#ffffff;
    float: left;
}
#twitterPa{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.endBackground{
    height: 352px;
    width: 1280px;
    margin-left: 200px;
    /* margin-top: 70px; */
    background-color: #424242;
    float: left;
}
.hrefFoot{
    text-decoration: none;
    color:#ffffff;
    font-size: 150%;
}
#trekkingFoot{
    float: left;
    margin-top: 70px;
    margin-left: 70px;
}
#pFoot{
    margin-top: 130px;
    margin-left: 70px;
    font-size: 80%;
    text-transform: uppercase;
}
.rightFoot{
    float: right;
    margin-right: 10px;
}
#designBy{
    font-size:120%;
    margin-right: 10px;
}